<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202800929043-ubolduflf9j8t8p1ddtc83hum45oj06p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202800929043-ubolduflf9j8t8p1ddtc83hum45oj06p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>202800929043-5fepet7e3gi3200llri2t1im58pio9ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhysgKUXYUjPkke-v7BSkUTrVEeCaXES4</string>
	<key>GCM_SENDER_ID</key>
	<string>202800929043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Borrow</string>
	<key>PROJECT_ID</key>
	<string>borrow-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>borrow-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202800929043:ios:ccc251f1ec669a9582e2e6</string>
</dict>
</plist>